<?xml version="1.0"?>
<robot name="heale" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Include wheel 1 *********************************************************************** -->
    <xacro:include filename="wheel_1.xacro"/>

    <!-- Include roller *********************************************************************** -->
    <xacro:include filename="roller.xacro"/>

    <!--back-right wheel**************************************************************************************************** -->
    <xacro:wheel_1 fl_or_br="back_right" />

    <!--back-right roller 1**************************************************************************************************** -->
    <xacro:roller frnt_or_bk="back" lft_or_rght="right" number="1" x="0" z="0.03833567" r="0" p="0.785398" y="0" />

    <!--back-right roller 2**************************************************************************************************** -->
    <xacro:roller frnt_or_bk="back" lft_or_rght="right" number="2"  x="0.02464169" z="0.02936683" r="-0.0872664" p="0.785398" y="0.698132" />

    <!--back-right roller 3**************************************************************************************************** -->
    <xacro:roller frnt_or_bk="back" lft_or_rght="right" number="3"  x="0.03775327" z="0.00665692" r="-0.1745328" p="0.785398" y="1.396263" />

    <!--back-right roller 4**************************************************************************************************** -->
    <xacro:roller frnt_or_bk="back" lft_or_rght="right" number="4"  x="0.03319966" z="-0.01916784" r="-0.26171799" p="0.785398" y="2.094395" />

    <!--back-right roller 5**************************************************************************************************** -->
    <xacro:roller frnt_or_bk="back" lft_or_rght="right" number="5"  x="0.01311157" z="-0.03602375" r="-0.26171799" p="0.785398" y="2.792527" />

    <!--back-right roller 6**************************************************************************************************** -->
    <xacro:roller frnt_or_bk="back" lft_or_rght="right" number="6"  x="-0.01311157" z="-0.03602375" r="-0.26171799" p="0.785398" y="3.490659" />

    <!--back-right roller 7**************************************************************************************************** -->
    <xacro:roller frnt_or_bk="back" lft_or_rght="right" number="7"  x="-0.03319966" z="-0.01916784" r="-0.26171799" p="0.785398" y="4.18879" />

    <!--back-right roller 8**************************************************************************************************** -->
    <xacro:roller frnt_or_bk="back" lft_or_rght="right" number="8"  x="-0.03775327" z="0.00665692" r="-0.1745328" p="0.785398" y="4.886922" />

    <!--back-right roller 9**************************************************************************************************** -->
    <xacro:roller frnt_or_bk="back" lft_or_rght="right" number="9"  x="-0.02464169" z="0.02936683" r="-0.0872664" p="0.785398" y="5.585054" />

</robot>